<div class="container" style="padding-top:1em">
  <div class="row">
    <div class="col-sm">
      <div class="card">
        <div class="card-body">
          <header>
            <h1>All tanks</h1>
          </header>
          <% flash.each do |key, value| %>
          <div id="error_explanation" class="alert alert-<%=key%>" role="alert">
            <p>
              <%= value %>
            </p>
          </div>
          <% end %>
          <div>
            <%= link_to 'Create a tank', new_tank_path, :class=>"btn btn-primary btn-sm" %>
          </div>
          <div class="d-block d-sm-none">
            <%= render 'index_small' %>
          </div>
          <div class="d-none d-sm-block">
            <%= render 'index_large' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
